@font-face {
  font-family: "SF Pro";
  font-weight: 400;
  src: url("./assets/fonts/SF-Pro-Text-Regular.woff");
}

@font-face {
  font-family: "SF Pro";
  font-weight: 700;
  src: url("./assets/fonts/SF-Pro-Display-Bold.woff");
}

:root {
  font-family: "SF Pro", serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 20px;
  max-width: 100%;
  overflow-x: hidden;
  touch-action: pan-y;
}

p {
  margin: 0;
  letter-spacing: -0.43px;
  line-height: 22px;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0.38px;
}
